<%= simple_form_for @password, :html => { :class => 'form-horizontal' } do |f| %>
  <!-- TODO: dropdown for leak_id? -->
  <%= f.input :pwhash %>
  <%= f.input :salt %>
  <!-- TODO: dropdown for hash_type? -->
  <%= f.input :hash_type %>
  <%= f.input :cleartext %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                passwords_path, :class => 'btn' %>
  </div>
<% end %>
