<%- model_class = @leak.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:original_filename) %>:</strong></dt>
  <dd><%= @leak.original_filename %></dd>
  <dt><strong><%= model_class.human_attribute_name(:source) %>:</strong></dt>
  <dd><%= @leak.source %></dd>
  <dt><strong><%= t 'number_of_hashes' %></strong></dt>
  <dd><%= @passwords.count %></dd>
</dl>

<% if @passwords.count > 0 %>
<h2><%= t 'hashes' %></h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Hash</th>
      <th>Salt</th>
      <th>Hash Type</th>
      <th>Clear Text</th>
    </tr>
  </thead>
  <%= render @passwords %>
</table>

<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leaks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_leak_path(@leak), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              leak_path(@leak),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
